*

!.zshrc
!.gitignore
!.Xresources

!.config
!.scripts
!.scripts/*

!.config/alacritty/
!.config/alacritty/*

!.config/mpd/
!.config/mpd/mpd.conf

!.config/bspwm/
!.config/bspwm/*

!.config/ncmpcpp/
!.config/ncmpcpp/*
.config/ncmpcpp/*.log

!.config/compton/
!.config/compton/*

!.config/dunst/
!.config/dunst/*

!.config/nvim/
!.config/nvim/*
!.config/nvim/snippets/**/*

!.config/polybar/
!.config/polybar/**/*

!.config/ranger/
!.config/ranger/**/*

!.config/sxhkd/
!.config/sxhkd/sxhkdrc

